{% extends "layout.html" %}

{% block customtitle %}
Home
{% endblock %}

{% block content %}
<div id='home-header'>
<h1>Author</h1>
<p>Author Bio</p>
</div>
<br>
<p><strong>Posts About:</strong></p>
{% for tag in tags %}
<a href=posts/tag-{{tag}}.html>[{{tag}}]</a>&nbsp;&nbsp;&nbsp;
{% endfor %}        
<br>
<p><strong>Latest posts:</strong></p>

<div>

{% for post in posts %}
{% if post.blog == 'yes' %}
    <p>
        {{post.date}} | <a href="posts/{{ post.slug }}.html">{{post.title}}</a> 
    </p>
{% endif %}
{% endfor %}

</div>

{% endblock %}
